html{width: 100%;}

body{
    --pc: rgb(38, 38, 38);
    --sc: rgb(228, 228, 228);
    --tc: rgb(66, 66, 66);

    background-color: var(--pc);
    color: var(--sc);
    width: 500px;
    height: auto;
}

label{
    margin: 0;
}

textarea{
    display: block;
    width: 400px;
    height: 150px;
    background-color: rgb(38, 38, 38);
    color: var(--sc);
}

button{
    background-color: var(--pc);
    border: 2px solid var(--sc);
    width: 100px;
    height: auto;
    color: var(--sc);
    cursor: pointer;
}

button:hover{
    background-color: var(--tc);
}

.popup label,textarea,button{
    margin: .5rem;
}

.hidden{
    display: none;
}

#error-content{
    color:red;
}